.hexagon {
    position: relative;
    height: 80px;
    width: 84px;
  }

  @media only screen and (min-width: 768px) {
    .hexagon {
      height: 88px;
      width: 86px;
    }
  }

  .hexagon:before, .double:after {
    position: absolute;
    content: '';
  }
  .hexagon:before {
    border-radius: 50%;
    height: calc(100% - 8px);  /* 100% - (2 * border width) */
    width: calc(100% - 8px);  /* 100% - (2 * border width) */
  }
  /* .hexagon, .hexagon:before, .double:after {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  } */
  .image:before {
    background: url("../../resources/myAvatar.svg");
    background-size: 78px 80px;
    background-repeat: no-repeat;
  }
  /* Just for demo */
  
  .hexagon {
    display: inline-block;
    margin: 10px;
  }

