.carousel-style .carousel.carousel-slider .control-arrow {
    background: gray;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
}

.carrousel-items {
    border: 10px solid white;
}

.carrousel-items img {
    max-width: 1000px;
}

.info-icon {
    display: none;
}

.info-icon-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 600 20px 'Nunito', sans-serif;
}

@media (min-width: 768px) {
    .carrousel-items {
        height: 480px;
    }
    .carousel .slide .legend {
        font-size: 28px;
    }
    .info-icon {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
        filter: invert(22%) sepia(72%) saturate(730%) hue-rotate(253deg) brightness(89%) contrast(90%)    
    }
    .info-icon-mobile {
        display: none;
    }
  }

.carrousel-items {
    height: 480px;
}

.carousel-style .carousel .slide img {
    height: 100%;
}



.carousel .thumbs {
    display: flex;
    justify-content: center;
}