.teste .carousel.carousel-slider .control-arrow {
    background: gray;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
}

@media (min-width: 700px) {
    .bla {
        height: 480px;
        width: 927px;
    }
  }

.bla {
    height: 480px;
    width: 600;
}

.teste .carousel .slide img {
    height: 100%;
}